<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adjust the href to include the static directory -->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>EaseKolar</title>
</head>
<body>
    <div class="home">
        <div class="header">
            <div class="title-logo">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo-img">
                <h1><span class="blue-text">Ease</span>Kolar</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li class="menu"><a href="/">Home</a></li>
                    <li class="menu"><a href="#about-us">About Us</a></li>
                    <li class="menu"><a href="/admin">Admin Login</a></li>
                    <li class="apply"><a href="/apply">Apply Now</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-text">
                <h1><span class="blue-text">Ease</span>Kolar</h1>
                <p>EaseSkolar is designed to efficiently store and retrieve student information during the scholarship application process. The system offers an integrated platform for students to submit high school scholarship applications, while institutions can conveniently access and manage applicant data.</p>
            </div>
            <img src="{{ url_for('static', filename='images/students.png') }}" alt="students-img">
        </div>
    </div>
    <div class="about-us-div" id="about-us">
        <div class="about-us">
            <img src="{{ url_for('static', filename='images/female-student.png') }}" alt="female-student-img">
            <div class="au-content">
                <h1>About Us</h1>
                <p>EaseSkolar is a user-friendly database system designed to streamline the scholarship application process for students and educational institutions. By offering an integrated platform, EaseSkolar simplifies the submission, storage, and retrieval of student information during the scholarship application process.
                </p>
                <hr>
                <div class="objectives">
                    <div class="purpose">
                        <img src="{{ url_for('static', filename='images/purpose-icon.png') }}" alt="purpose-icon-img">
                        <h3>Purpose</h3>
                        <p>To enhance the scholarship application journey by ensuring data accuracy, accessibility, and efficiency </p>
                    </div>
                    <div class="goal">
                        <img src="{{ url_for('static', filename='images/goal-icon.png') }}" alt="goal-icon-img">
                        <h3>Goal</h3>
                        <p>Our goal at EaseSkolar is to make the scholarship application process more efficient and accessible. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer">
        <div class="f-content">
            <div class="col-1">
                <div class="col-1-tl">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo-img">
                    <h1><span class="blue-text">Ease</span>Kolar</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur. Posuere erat at a vitae consectetur mattis ac.</p>
                <br>
                <div class="socials">
                    <a href="#"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="facebook-icon-img"></a>
                    <a href="#"><img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="linkedin-icon-img"></a>
                    <a href="#"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="instagram-icon-img"></a>
                    <a href="#"><img src="{{ url_for('static', filename='images/x.png') }}" alt="x-icon-img"></a>
                </div>
            </div>
            <div class="col-2">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <p>easekolarship@easko.edu.ph</p>
            </div>
        </div>
        <p class="copyright">Copyright @ 2024 by Easekolar, All rights reserved</p>
    </div>  
</body>
</html>
