<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted - EaseKolar</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/submission.css">
    <link rel="shortcut icon" href="../static/images/logo.svg">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="../static/images/logo.svg" alt="logo-img">
            <h1><span class="blue-text">Ease</span>Kolar</h1>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h1>Successfully Submitted!</h1>
            <p>Good luck on your journey, EaseKolar!</p>
            <div class="buttons">
                <a href="/" class="btn btn-home">Go Back to Home Page</a>
                <a href="/AppForm" class="btn btn-new">Make Another Application</a>
            </div>
        </div>
    </div>
</body>
</html>